* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    background:rgb(59, 43, 81);
  }
  .login {
    width: 320px;
    height: 450px;
    border: 1px solid rgb(59, 43, 81);
    background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
    transform: translateY(15%);
    box-shadow:
    10px 40px 100px 20px rgba(0, 0, 0, 0.7),
    0 -40px 80px rgba(102, 106, 135, 0.3);
  }

 
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: 540;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
  }


  .login .form input:hover {
    transform: scale(1.05); 
    transition: transform 0.7s ease; 
  }
  .login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #DDD;
  }
  .login .form input.submit {
    background: rgba(37, 32, 50, 0.9);
    color: rgba(255,255,255,.5);
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;
  } 

  .login .form input.submit:hover {
    color: #DDD;
    transform: scale(1.05); 
    transition: transform 0.7s ease; 
   
  }
