<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/send.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myprofile.css') }}">

    <title>My Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

</head>

<body>

    <div class="profilecontainer">
        <form method="GET">
            <div class="profilePic">
                <img src="https://api.dicebear.com/9.x/personas/svg?seed=Robert&radius=50&backgroundColor=d1d4f9,c0aede"
                    alt="avatar" />
            </div>
        </form>
        <form method="POST">
            <div class="updateProfilePicButton">
                <button class="uiverse">
                    <div class="wrapper">
                        <span>Update Pic!</span>
                        <div class="circle circle-12"></div>
                        <div class="circle circle-11"></div>
                        <div class="circle circle-10"></div>
                        <div class="circle circle-9"></div>
                        <div class="circle circle-8"></div>
                        <div class="circle circle-7"></div>
                        <div class="circle circle-6"></div>
                        <div class="circle circle-5"></div>
                        <div class="circle circle-4"></div>
                        <div class="circle circle-3"></div>
                        <div class="circle circle-2"></div>
                        <div class="circle circle-1"></div>
                    </div>
                </button>
            </div>
        </form>
        <div class="form-control">
            <div class="username_form">
                <input type="value" placeholder="Youssef Eldoksh" required="">
                <label>
                    <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span
                        style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span
                        style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span
                        style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                </label>
            </div>
            <div class="email_form">
                <input type="va lue" placeholder="youssefeldoksh788@gmail.com" required="">
                <label>
                    <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">m</span><span
                        style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span
                        style="transition-delay:200ms">l</span>
                </label>
            </div>
            <div class="password_form">
                <input type="value" placeholder="********" required="">
                <label>
                    <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span
                        style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span
                        style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span
                        style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                </label>
            </div>
            <div class="bio_form">
                <input type="value" class="bioform" required="">
                <label class="bioform_label">
                    <span style="transition-delay:0ms">B</span><span style="transition-delay:50ms">i</span><span
                        style="transition-delay:100ms">o</span>

            </div>
        </div>

    </div>


    <div class="animated-bg"></div>

</body>

</html>